:root {
  background-color: #282c34;
  color: white;
}

a {
  color: #61dafb;
}

.nav-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
}

.wrapper {
  background-color: #282c34;
  color: white;
  text-align: center;
}
